apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

secretGenerator:
  - name: cloudflare-api-token-secret
    namespace: cert-manager
    envs:
      - ./envs/cloudflare/.env
    options:
      disableNameSuffixHash: true

  - name: argocd
    namespace: argocd
    envs:
      - ./envs/argocd-repo/.env
    files:
      - githubAppPrivateKey=./envs/argocd-repo/githubAppPrivateKey
    options:
      disableNameSuffixHash: true
      labels:
        argocd.argoproj.io/secret-type: repository
